{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url admin:index %}">{% trans 'Django administration' %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
