{% load i18n %}

{% with obj.elements as elements %}
    {% if elements or obj.show_if_empty %}
        <h4>{{ obj.name }}</h4>
        {% if elements %}
            <ul class="unstyled">
            {% for element in elements %}
                <li>
                    {% if element.get_absolute_url %}<a href="{{ element.get_absolute_url }}">{% endif %}
                    {{ element }}
                    {% if element.get_absolute_url %}</a>{% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            {% trans "No items"%}
        {% endif %}
    {% endif %}
{% endwith %}
