{% load filters_tags %}

<!DOCTYPE html>
<html lang="ua">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Филиал №1 ООО «ЛУГАНСКСТАНДАРТМЕТРОЛОГИЯ»: {% block TITLE %}Официальный сайт{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Keywords" content="{% block keywords %}Луганськстандартметрологія, метрологія, сертифікація, стандартизація, 100 кращих товарів України, повірка ЗВТ, Луганскстандартметрология, метрология, сертификация, стандартизация, 100 лучших товаров Украины, поверка СИТ{% endblock %}" />
        <meta name="Description" content="Официальный сайт ГП «Луганскстандартметрология»" />
        <meta http-equiv="imagetoolbar" content="no" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name='yandex-verification' content='59814aa613454aba' />
        <meta name="google-site-verification" content="YH2vcukNkqB9Ufwpkk8BMn9l0KfDBSSC0wtzi7OyrHU" />
        {% block robots %}
            <meta name="robots" content="index, follow" />
            <meta name="revisit-after" content="7 days" />
        {% endblock %}
        
        <link href="{{ STATIC_URL}}bootstrap/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL}}bootstrap/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ STATIC_URL}}css/bootstrap-patch.css" rel="stylesheet">
        <link href="{{ STATIC_URL}}css/colorbox.css" rel="stylesheet" />
        <link href="{{ STATIC_URL}}css/print.css" rel="stylesheet" media="print" />
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <script src="{{ STATIC_URL}}bootstrap/jquery.js"></script>
        <script src="{{ STATIC_URL}}bootstrap/bootstrap-transition.js"></script>
        <script src="{{ STATIC_URL}}bootstrap/bootstrap-alert.js"></script>
        <script src="{{ STATIC_URL}}bootstrap/bootstrap-modal.js"></script>
        <script src="{{ STATIC_URL}}bootstrap/bootstrap-dropdown.js"></script>
        <script src="{{ STATIC_URL}}bootstrap/bootstrap-scrollspy.js"></script>
        <script src="{{ STATIC_URL}}bootstrap/bootstrap-tab.js"></script>
        <script src="{{ STATIC_URL}}bootstrap/bootstrap-tooltip.js"></script>
        <script src="{{ STATIC_URL}}bootstrap/bootstrap-popover.js"></script>
        <script src="{{ STATIC_URL}}bootstrap/bootstrap-button.js"></script>
        <script src="{{ STATIC_URL}}bootstrap/bootstrap-collapse.js"></script>
        <script src="{{ STATIC_URL}}bootstrap/bootstrap-carousel.js"></script>
        <script src="{{ STATIC_URL}}bootstrap/bootstrap-typeahead.js"></script>
        <script src="{{ STATIC_URL}}js/jquery.colorbox.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function(){
                $("a[rel='gallery_slideshow']").colorbox({
                    maxHeight: parseInt(0.9*$(window).height()),
                    scalePhotos: true,
                    slideshow: true,
                    slideshowSpeed: 6000,
                    photo: true
                });
            });
        </script>
        
        <link rel="shortcut icon" href="{{ STATIC_URL}}icons/lssmcc.gif">
    </head>

    <body>
        <div id="header" class="container hide_in_print">
            <div id="headlogoleft" class="visible-desktop"></div>
            <div id="headlogoright" class="visible-desktop"></div>
            <div id="headcontent">
                <h1>
                    <a href="/">Официальный сайт <br>Филиала №1 ООО «ЛУГАНСКСТАНДАРТМЕТРОЛОГИЯ»</a>
                </h1>
            </div>
        </div>
        
        <div class="container navbar-wrapper hide_in_print">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
<!--
                    <a class="brand" href="{% url home %}">ДП "Луганськстандартметрологія"</a>
-->
                    <div class="nav-collapse collapse">
                        {% render_filters name="main_menu" %}
                    </div>
                </div>
            </div><!-- navbar -->
        </div><!-- container -->
        
        <div class="container">
            
            {% block content-header %}{% endblock %}
            
            <div class="row">
                <div class="span9">
                    
                    {% block messages-placeholder %}
                        {% if messages %}
                            <div>
                                {% for message in messages %}
                                    <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} fade in">
                                        <button data-dismiss="alert" class="close">×</button>
                                        {{ message|capfirst }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endblock %}
                    
                    <div class="menu visible-phone">
                        {% include 'menu/sidebar_menu.html' with current_chpater=current_chpater %}
                    </div>
                    
                    {% block content %}
                        {% render_filters name="show_on_homepage" %}
                    {% endblock %}
                    
                </div><!-- span9 -->
                <div class="span3 hide_in_print">
                    
                    {% block sidebar %}
                        <div class="menu hidden-phone">
                            {% include 'menu/sidebar_menu.html' with current_chpater=current_chpater %}
                        </div>
                        <ul class="well nav nav-list">
                            {% render_filters group__name="sidebar_filters" %}
                        </ul>
                        <div class="banners">
                            <p></p>
                        </div>
                    {% endblock %}
                    
                </div><!-- span3 -->
            </div><!-- row -->
            
            <footer class="hide_in_print">
                <p class="pull-right"> · · · <a href="#">Наверх</a> · · · </p>
                <p>© ГП "Луганскстандартметрология"</p>
                <hr>
                <span class="pull-right" id="powered_by_django">
                    <a href="https://vps.ua/clients/aff.php?aff=592">
                        <img border="0" src="{{ STATIC_URL}}img/logo_amazon.png" alt="VPS.ua - виртуальные выделенные серверы" title="VPS.ua - виртуальные выделенные серверы" style="margin-top: 6px;">
                    </a>
                    &nbsp;
                    <a href="http://www.djangoproject.com/">
                        <img border="0" src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" alt="Made with Django." title="Made with Django.">
                    </a>
                </span>
                <p></p>
            </footer>
        </div><!-- container -->
        
        {% block js %}{% endblock %}
        
    </body>
</html>
