{% extends "base.html" %}

{% load filters_tags thumbnail %}

{% block content-header %}{% endblock %}
<!--
                <img src="{{ STATIC_URL}}carousel/None/Direktor-Site.jpg" alt="альтернативный текст">
-->
{% block content %}
    {% if carousel %}
        <div class="carousel slide visible-desktop" id="homepage-carousel">
            <div class="carousel-inner">

                {% for item in carousel %}
                    <div class="item{% if forloop.first %} active{% endif %}">
                        <img src="{{item.photo}}" alt="">
                        {% thumbnail item.photo "870x440" crop="center" as im %}
                            <img src="{{ im.url }}" alt="" />
                        {% endthumbnail %}
                        <div class="carousel-caption">
                            <h4>{{ item.title }}</h4>
                            {{ item.body|safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a data-slide="prev" href="#homepage-carousel" class="left carousel-control">‹</a>
            <a data-slide="next" href="#homepage-carousel" class="right carousel-control">›</a>
        </div><!-- carousel -->
    {% endif %}
    {% render_filters name="show_on_homepage" %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            $(document).ready(function(){
                $('#homepage-carousel').carousel({interval:10000});
            }); 
        });
    </script>
{% endblock %}
