{% extends "base.html" %}

{% load endless %}

{% block content %}
    <div class="hero-unit">
        <h2>Відповіді на запитання</h2>
        <p><a class="btn btn-primary btn-large" href="{% url feedback:send_message %}">Задати своє запитання »</a></p>
    </div>
    {% if object_list %}
        {% paginate object_list %}
        {% for answer in object_list %}
            {% include 'feedback/answer_snippet.html' with object=answer %}
            <hr class="news-divider">
        {% endfor %}
    {% endif %}
{% endblock %}
