{% csrf_token %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="control-group{% if field.errors %} error{% endif %}">
        <label class="control-label" for="id_{{ field.name }}">
            {{ field.label|capfirst }}{% if field.field.required %}<span class="form-required">*</span>{% endif %}{% if field.help_text %}&nbsp;<span class="muted">({{ field.help_text }})</span>{% endif %}:&nbsp;
            {% if field.errors %}
                <span class="help-inline">{{ field.errors.as_text }}</span>
            {% else %}
                
            {% endif %}
        </label>
        <div class="controls ">
            {{ field }}
        </div>
    </div>
{% endfor %}
