{% extends "base.html" %}

{% block content %}
    <form action="{% url feedback:send_message %}" method="POST">
        <fieldset>
            <legend><h2>{{ form_legend|capfirst }}</h2></legend>
            <div class="well">
                <strong>Увага:</strong> Поля із позначкою <span class="form-required">*</span> обов'язкові для заповнення
            </div>
            {% include "feedback/form_snippet.html" with form=form %}
            {% if html_captcha %}
                <div class="control-group{% if field.errors %} error{% endif %}">
                    <div class="controls">{{ html_captcha|safe }}</div>
                </div>
            {% endif %}
            <div>
                <button class="btn btn-primary" type="submit">Відправити</button>
                <button class="btn" type="reset">Очистити форму</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
