<h1 class="center">Перелік підприємств з виробництва харчової продукції, що сертифікували продукцію</h1>
<p>Враховуючи досвід світової практики, обов'язкова сертифікація харчової продукції в Україні переходить в розряд добровільної.</p>
<p>В останні роки "Перелік продукції, що підлягає обов'язковій сертифікації в Україні", значно скоротився.</p>
<p>Сумлінні виробники Луганській області, яким не соромно за свою продукцію, які впевнені в її якості та безпечності, які можуть підтвердити, що технологічний процес виготовлення продукції відповідає усім встановленим вимогам, звертаються до органу з сертифікації ДП «Луганськстандартметрологія» з заявками на проведення добровільної сертифікації продукції.</p>
<p>Добровільна сертифікація дає можливість підприємству:</p>
<ul>
    <li>закріпитися на вітчизняному ринку та розширити ринок збуту при здійсненні зовнішньоекономічних операцій  (український сертифікат відповідності на продукцію визнається всіма країнами СНД, чим спрощує процедуру експорту),</li>
    <li>отримати перевагу при участі в тендерах,</li>
    <li>маркувати свою продукцію знаком відповідності, який підтверджує, що продукція, в процесі її виготовлення та сировина, з якої виготовлється продукція, проходять ретельний контроль.</li>
</ul>
<p>Споживачі  можуть бути впевненими в тому, що сертифікована продукція якісна та безпечна для їхнього здоров'я.</p>
<p>Пропонуємо Вам ознайомитись з переліком виробників харчової продукції Луганської області, які мають сертифікати відповідності на продукцію, яку виробляють.</p>
<div class="wcontent">
<table align="center" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Дата видачі сертифікату</th>
                <th>Закінчення дії</th>
                <th>Назва підприємства</th>
                <th>Продукція</th>
                <th>Відомості про атестати</th>
            </tr>
        </thead>
        <tbody>
		
            <tr>
                <td>25.06.2013</td>
                <td>20.06.2016</td>
                <td>ПРАТ &quot;Луганський лікеро-горілчаний завод ЛУГА-НОВА&quot;, Україна, м.Луганськ, пр.Красногорський, 1. Код ЄДРПОУ - 30996128.</td>
                <td>напої лікеро-горілчані у асортименті згідно з додатком 11 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>25.06.2013</td>
                <td>20.06.2016</td>
                <td>ПРАТ &quot;Луганський лікеро-горілчаний завод ЛУГА-НОВА&quot;, Україна, м.Луганськ, пр.Красногорський, 1. Код ЄДРПОУ - 30996128.</td>
                <td>горілки та горілки особливі у асортименті згідно з додатком, 35 найменувань.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>30.04.2013</td>
                <td>27.12.2015</td>
                <td>ТДВ  &quot;ЛИСИЧАНСЬКИЙ ЖЕЛАТИНОВИЙ ЗАВОД&quot;, Україна, м.Лисичанськ-9, Луганської обл. Код ЄДРПОУ - 00418030.</td>
                <td>желатин харчовий та харчовий мелений марок П-19, П-17, П-13, П-11, П-9, П-7, К-17, К-15, К-13, К-11, К-10, желатин технічний та технічний мелений марок Т-11, Т-9, Т-7, Т-4, Т-2,5</td>
                <td></td>
            </tr>
        
            <tr>
                <td>30.04.2013</td>
                <td>27.12.2015</td>
                <td>ТДВ &quot;ЛИСИЧАНСЬКИЙ ЖЕЛАТИНОВИЙ ЗАВОД&quot;, Україна, м.Лисичанськ-9, Луганської обл. Код ЄДРПОУ 00418030</td>
                <td>Концентрати харчові:  желе  в асортименті 12 найменувань, згідно з додатком.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>19.12.2013</td>
                <td>18.12.2015</td>
                <td>ТОВ &quot;Макаронна фабрика &quot;МилаМ&quot;, Україна, м.Луганськ, вул.Днєпровская,49-б. Код ЄДРПОУ - 20164689.</td>
                <td>Борошно пшеничне вищого, першого та другого гатунків</td>
                <td></td>
            </tr>
        
            <tr>
                <td>16.12.2013</td>
                <td>15.12.2015</td>
                <td>Фізична особа підприємець Немушенко Валерія Валеріївна, Україна, Луганська обл., м.Сватове, кв. Луначарського, б.15, кв.22. Код ЄДРПОУ-2699304905.</td>
                <td>насіння соняшника смажене та ядра з насіння соняшника смажені  в асортименті згідно з додатком  8 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>13.12.2013</td>
                <td>12.12.2015</td>
                <td>Фізична особа підприємець  Ряжських Олександр Володимирович Україна, Луганська обл., м.Стаханов, вул. Челюскінців, 23б/2. Код ЄДРПОУ - 2237626850.</td>
                <td>Печиво у асортименті згідно з додатком 13 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>13.12.2013</td>
                <td>12.12.2015</td>
                <td>Фізична особа підприємець  Ряжських Олександр Володимирович Україна, Луганська обл., м.Стаханов, вул. Челюскінців, 23б/2. Код ЄДРПОУ - 2237626850.</td>
                <td>Торти і тістечка у асортименті згідно з додатком 17 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>09.12.2013</td>
                <td>08.12.2015</td>
                <td>Фізична особа підприємець  Арусханян Сержик Левікі, Україна, Луганська обл., м.Лисичанськ, вул. Мира, 12. Код ЄДРПОУ - 2834701053.</td>
                <td>Торти і тістечка у асортименті, солодощі східні &quot;Пахлава&quot; згідно з додатком 76 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>09.12.2013</td>
                <td>08.12.2015</td>
                <td>Фізична особа підприємець  Арусханян Сержик Левіки Україна, Луганська обл., м.Лисичанськ, вул. Мира, 12. Код ЄДРПОУ - 2834701053.</td>
                <td>Печиво у асортименті згідно з додатком 19 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>05.11.2013</td>
                <td>04.11.2015</td>
                <td>Фізична особа підприємець  Каверін  Леонід Олексійович, Україна, м.Стаханов, Луганської обл., вул.Фестивальна, 6 кв.15. ідентифікаційний  код  № 2166821133.</td>
                <td>риба в&#39;ялена (густера, плотва, лящ)</td>
                <td></td>
            </tr>
        
            <tr>
                <td>28.10.2013</td>
                <td>27.10.2015</td>
                <td>ФОП Рей Є.Л.,Україна, м.Луганськ, вул.Артема, 472. Свідоцтво від 02.10.1998   №2405114336.</td>
                <td>пресерви з риби в асортименті згідно з додатком 8 найменувань.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>22.10.2013</td>
                <td>21.10.2015</td>
                <td>ЧАО &quot;АВК&quot;, Украина, г.Донецк, ул.1-я Александровка, 9. Код ЕГРПОУ - 30482582.</td>
                <td>Изделия кондитерские сахаристые: конфеты, сластики  в ассортименте согласно приложения.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>22.10.2013</td>
                <td>21.10.2015</td>
                <td>ПП &quot;Завод продовольчих товарів &quot;КАРЄ&quot;, Україна, м.Луганськ, вул.Дачна, 3. Код ЄДРПОУ-30463879</td>
                <td>напої безалкогольні газовані ТМ &quot;Агата&quot; в асортименті згідно з додатком  14 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>22.10.2013</td>
                <td>21.10.2015</td>
                <td>ПП &quot;Завод продовольчих товарів &quot;КАРЄ&quot;, Україна, м.Луганськ, вул.Дачна, 3. Код ЄДРПОУ-30463879</td>
                <td>напої безалкогольні газовані та негазовані  в асортименті згідно з додатком 40 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>22.10.2013</td>
                <td>21.10.2015</td>
                <td>ПП &quot;Завод продовольчих товарів &quot;КАРЄ&quot;, Україна, м.Луганськ, вул.Дачна, 3. Код ЄДРПОУ-30463879</td>
                <td>води питні оброблені газовані та негазовані: &quot;Срібна Агата&quot;, &quot;Ільєнська справжня&quot;</td>
                <td></td>
            </tr>
        
            <tr>
                <td>22.10.2013</td>
                <td>21.10.2015</td>
                <td>ПП &quot;Завод продовольчих товарів &quot;КАРЄ&quot;, Україна, м.Луганськ, вул.Дачна, 3. Код ЄДРПОУ-30463879</td>
                <td>води питні оброблені газовані та негазовані: &quot;Льдинка&quot;, &quot;Срібна&quot;, &quot;Петропавлівська&quot;.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>22.10.2013</td>
                <td>21.10.2015</td>
                <td>ПРАТ &quot;АВК&quot;, Україна, м.Донецьк, вул.1-А Олександрівка, 9. Код ЄДРПОУ - 30482582.</td>
                <td>Вироби кондитерські цукристі: цукерки та сластики в асортименті згідно з додатком.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>08.02.2012</td>
                <td>15.10.2015</td>
                <td>ТОВ &quot;Сватівська олія&quot;, Україна, м.Сватове, Луганської обл., пр.Заводський, 13. Код ЄДРПОУ - 25368994.</td>
                <td>олія соняшникова нерафінована невиморожена (пресова та екстракційна )</td>
                <td></td>
            </tr>
        
            <tr>
                <td>08.02.2012</td>
                <td>15.10.2015</td>
                <td>ТОВ &quot;Сватівська олія&quot;, Україна, м.Сватове, Луганської обл., пр.Заводський, 13. Код ЄДРПОУ - 25368994.</td>
                <td>шрот соняшниковий високопротеїновий звичайний негранульований</td>
                <td></td>
            </tr>
        
            <tr>
                <td>03.10.2013</td>
                <td>15.10.2015</td>
                <td>ТОВ &quot;Сватівська олія&quot;, Україна, м.Сватове, Луганської обл., пр.Заводський, 13. Код ЄДРПОУ - 25368994.</td>
                <td>шрот соняшниковий високопротеїновий тостований негранульований</td>
                <td></td>
            </tr>
        
            <tr>
                <td>20.09.2013</td>
                <td>19.09.2015</td>
                <td>ТОВ &quot;ВАГЕР&quot;, Україна, м.Луганськ, 7-й Лутугінській проєзд, 8. Код ЄДРПОУ 21756498</td>
                <td>напої безалкогольні сильногазовані у асортименті згідно з додатком 18 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>20.09.2013</td>
                <td>19.09.2015</td>
                <td>ТОВ &quot;ВАГЕР&quot;,Україна, м.Луганськ, 7-й Лутугінській проєзд, 8. Код ЄДРПОУ 21756498</td>
                <td>води питні оброблені сильногазовані, середньогазовані, слабогазовані та негазовані у асортименті згідно з додатком 4найменування</td>
                <td></td>
            </tr>
        
            <tr>
                <td>26.08.2010</td>
                <td>22.07.2015</td>
                <td>ТОВ &quot;М`ясопереробний завод &quot;МилаМ&quot;, Україна, м.Луганськ, вул.Звейнека, 147. Код ЄДРПОУ - 33846476.</td>
                <td>ковбаси сирокопчені у асортименті згідно з додатком  15найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>26.08.2010</td>
                <td>22.07.2015</td>
                <td>ТОВ &quot;М`ясопереробний завод &quot;МилаМ&quot;, м.Луганськ, вул.Звейнека, 147. Код ЄДРПОУ - 33846476.</td>
                <td>ковбаси напівкопчені: &quot;Краківська&quot;, в/г; &quot;Одеська&quot; 1/г</td>
                <td></td>
            </tr>
        
            <tr>
                <td>26.08.2010</td>
                <td>22.07.2015</td>
                <td>ТОВ &quot;М`ясопереробний завод &quot;МилаМ&quot;, м.Луганськ, вул.Звейнека, 147. Код ЄДРПОУ - 33846476.</td>
                <td>продукти з яловичини та свинини сирокопчені в асортименті згідно з додатком 6 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>26.08.2010</td>
                <td>22.07.2015</td>
                <td>ТОВ &quot;М`ясопереробний завод &quot;МилаМ&quot;, м.Луганськ, вул.Звейнека, 147. Код ЄДРПОУ - 33846476.</td>
                <td>ковбаси сиров`ялені в асортименті згідно з додатком 8 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>26.07.2013</td>
                <td>11.07.2015</td>
                <td>ПП &quot;Завод продтоварів &quot;Анжей&quot;, Україна, с.Георгіївка, Луганської обл., Лутугінського р-ну, вул.Леніна, 6. Код ЄДРПОУ - 30760798.</td>
                <td>напої безалкогольні сильногазовані у асортименті згідно з додатком 25 найменування</td>
                <td></td>
            </tr>
        
            <tr>
                <td>29.07.2013</td>
                <td>11.07.2015</td>
                <td>ПП &quot;Завод продтоварів &quot;Анжей&quot;, Україна, с.Георгіївка, Луганської обл., Лутугінського р-ну, вул.Леніна, 6. Код ЄДРПОУ - 30760798.</td>
                <td>води питні  оброблені сильногазовані та негазовані: &quot;Георгіївська&quot;, &quot;Ключова&quot;</td>
                <td></td>
            </tr>
        
            <tr>
                <td>14.07.2010</td>
                <td>01.07.2015</td>
                <td>МПП &quot;Континент&quot;, Україна, м.Лисичанськ, Луганської обл., вул.Радянська, 20. Код ЄДРПОУ-13405141.</td>
                <td>вода питна  негазована, фасована &quot;Льодовикова&quot;</td>
                <td></td>
            </tr>
        
            <tr>
                <td>15.07.2013</td>
                <td>01.07.2015</td>
                <td>МПП &quot;Континент&quot;, Україна, м.Лисичанськ, Луганської обл., вул.Радянська, 20. Код ЄДРПОУ-13405141.</td>
                <td>вода питна оброблена негазована &quot;Льодовикова&quot;</td>
                <td></td>
            </tr>
        
            <tr>
                <td>31.07.2013</td>
                <td>30.06.2015</td>
                <td>Фізична особа-підприємець Мінасян Араїк Арбакович, Україна, 91042, м.Луганськ, кв. 50-років Жовтня, 20 А. Код ЄДРПОУ - 2175014836.</td>
                <td>Лаваш листовий  масою 0,14кг</td>
                <td></td>
            </tr>
        
            <tr>
                <td>27.06.2013</td>
                <td>26.06.2015</td>
                <td>ТОВ &quot;Айсберг ЛТД-А&quot;, Україна, Луганська обл., м.Антрацит, вул.Артема, 33. Код ЄДРПОУ 34929165.</td>
                <td>напої безалкогольні газовані ТМ &quot;Айсберг&quot;, ТМ&quot;Фруктель&quot;, в асортименті згідно з додатком, 33 найменування</td>
                <td></td>
            </tr>
        
            <tr>
                <td>01.07.2013</td>
                <td>26.06.2015</td>
                <td>ТОВ &quot;Істок&quot;, Україна, м.Свердловськ, Луганської обл., вул.Лутугіна, 1. Код ЄДРПОУ-21782107.</td>
                <td>води мінеральні природні лікувально-столові &quot;Астахівська&quot; та &quot;Довжанська&quot; сильногазовані</td>
                <td></td>
            </tr>
        
            <tr>
                <td>01.07.2013</td>
                <td>26.06.2015</td>
                <td>ТОВ &quot;Істок&quot;, Україна, м.Свердловськ, Луганської обл., вул.Лутугіна, 1. Код ЄДРПОУ-21782107.</td>
                <td>води питні оброблені: &quot;Жива вода&quot; сильногазована та негазована; &quot;Свердловчанка&quot; середньогазована</td>
                <td></td>
            </tr>
        
            <tr>
                <td>01.07.2013</td>
                <td>26.06.2015</td>
                <td>ТОВ &quot;Істок&quot;, Україна, м.Свердловськ, Луганської обл., вул.Лутугіна, 1. Код ЄДРПОУ - 21782107</td>
                <td>напої безалкогольні сильногазовані у асортименті згідно з додатком 15 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>27.06.2013</td>
                <td>26.06.2015</td>
                <td>ТОВ &quot;Айсберг ЛТД-А&quot;, Україна, Луганська обл., м.Антрацит, вул.Артема, 33. Код ЄДРПОУ 34929165.</td>
                <td>води питні оброблені: ТМ Айсберг: газовані: &quot;Айсберг&quot;,  &quot;Срібний ключ&quot;; негазовані &quot;Срібний ключ&quot;; ТМ &quot;Срібна капель:газовані та негазовані &quot;Срібна капель&quot;.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>17.06.2013</td>
                <td>16.06.2015</td>
                <td>ПрАТ &quot;Біловодський маслоробний завод&quot;, Україна, смт.Біловодськ, Луганської обл.,Старобільське шосе, 1. Код ЄДРПОУ - 00444808.</td>
                <td>масло солодковершкове несолоне &quot;Селянське&quot;</td>
                <td></td>
            </tr>
        
            <tr>
                <td>17.06.2013</td>
                <td>16.06.2015</td>
                <td>ПрАТ &quot;Біловодський маслоробний завод&quot;, Україна, смт.Біловодськ, Луганської обл., Старобільське шосе, 1. Код ЄДРПОУ - 00444808.</td>
                <td>Спреди солодковершкові: &quot;Біловодський&quot;  з масовою часткою жиру не менше 70%, у т. ч. молочного не менше 60% та &quot;Біловодський легкий&quot; з масовою часткою жиру не менше 70%, у т.ч. молочного не менше 40%</td>
                <td></td>
            </tr>
        
            <tr>
                <td>11.06.2013</td>
                <td>09.06.2015</td>
                <td>&quot;ALTUNKAYA TRADING CO. (L.L.C.)&quot; P.O.BOX 3955, Twin Towers, office 1302, DUBAI, Об&#39;єднані Арабські Емірати</td>
                <td>Чай чорний, зелений, чорний ароматизований  ТМ &quot;MAHMOOD TEA&quot; , 21 найменування, у асортименті згідно з додатком</td>
                <td></td>
            </tr>
        
            <tr>
                <td>23.08.2013</td>
                <td>09.06.2015</td>
                <td>ОАО &quot;Зеленокумский пивоваренный завод&quot;, Ставропольский край, г.Зеленокумск, ул.50 лет Октября, 62-А, Російська Федерація</td>
                <td>Напої безалкогольні газовані серії &quot;Диво&quot;, &quot;Диво-Экстра&quot;, 15 найменувань, у асортименті згідно з додатком</td>
                <td></td>
            </tr>
        
            <tr>
                <td>24.04.2013</td>
                <td>23.04.2015</td>
                <td>ТОВ &quot;СФ &quot;Агроукрптаха&quot;, Україна, м.Луганськ, 1-й Оборонний проїзд,4. Код ЄДРПОУ 25360337.</td>
                <td>тушки курчат-бройлерів патрані 1і 2 категорії, продукти  переробки птиці охолоджені  та заморожені ТМ &quot;Славна&quot; в асортименті згідно з додатком 22 найменування</td>
                <td></td>
            </tr>
        
            <tr>
                <td>24.04.2013</td>
                <td>23.04.2015</td>
                <td>ТОВ &quot;СФ &quot;Агроукрптаха&quot;, Україна, м.Луганськ, 1-й Оборонний проїзд, 4. Код ЄДРПОУ 25360337.</td>
                <td>продукти з м&#39;яса птиці копчено-варені ТМ &quot;Славна&quot; згідно здодатком  19 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>20.03.2013</td>
                <td>19.03.2015</td>
                <td>ФОП Берднікова Наталья Іванівна, 94000, Україна, Луганська область, вул. Кринична, 14. КОД ІПН  2331009468</td>
                <td>Рулети бісквітні, перекладенці та торти  в асортименті згідно з додатком  17 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>20.03.2013</td>
                <td>19.03.2015</td>
                <td>ФОП Берднікова Наталья Іванівна, 94000, Україна, Луганська область, вул. Кринична, 14. КОД ІПН  2331009468</td>
                <td>Печиво здобне  пісочно-відсадне, листкове та   кекси виготовлені на хімічних розпушувачах  в асортименті згідно з додатком 13  найменувань.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>26.02.2013</td>
                <td>09.01.2015</td>
                <td>ООО &quot;Невский кондитер&quot;, Пензенская обл., р.п.Мокшан, ул.Садовая,32, Росія</td>
                <td>Карамель з різноманітними начинками глазурована та неглазурована; льодяникова в асортименті згідно з додатком, 45 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>26.02.2013</td>
                <td>09.01.2015</td>
                <td>ООО &quot;Невский кондитер&quot;, Пензенская обл., р.п.Мокшан, ул.Садовая,32, Росія</td>
                <td>Цукерки з різноманітними корпусами глазуровані в асортименті згідно з додатком, 47 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>26.02.2013</td>
                <td>09.01.2015</td>
                <td>ООО &quot;Невский кондитер&quot;, Пензенская обл., р.п.Мокшан, ул.Садовая,32, Росія</td>
                <td>Кондитерські вироби цукристі у асортименті: драже: &quot;Речные камешки&quot; с изюмом&quot;; &quot;Арахис в сахаре&quot;; Ірис з начинкою &quot;Тоффетто&quot;</td>
                <td></td>
            </tr>
        
            <tr>
                <td>18.02.2013</td>
                <td>25.12.2014</td>
                <td>ТОВ &quot;ЛОТУРЕ-ЗЕРНОПРОМ&quot;, Україна, м.Київ, бул.Праці, 8. Код ЄДРПОУ - 33299286.</td>
                <td>борошно пшеничне вищого, першого та другого гатунків</td>
                <td></td>
            </tr>
        
            <tr>
                <td>27.11.2013</td>
                <td>26.11.2014</td>
                <td>ТОВ &quot;Дон-Ест Плюс&quot;, Україна, м.Луганськ, Лєсной тупік , 1В. Код ЄДРПОУ - 30092017.</td>
                <td>Риба заморожена: скумбрія атлантична</td>
                <td></td>
            </tr>
        
            <tr>
                <td>26.11.2013</td>
                <td>25.11.2014</td>
                <td>ПАТ &quot;Старобільський молокозавод&quot;, Україна, м.Старобільськ, Луганської обл., вул.Старотаганрозька, 111. Код ЄДРПОУ - 00444837.</td>
                <td>масло солодковершкове: ТМ &quot;Молочна веселка&quot;: &quot;Селянське&quot; 72,5% жиру;   &quot;Селянське&quot; 73,0% жиру;  &quot;Екстра&quot; 82,5% жиру;  ТМ &quot;Новопсковське&quot;:&quot;Екстра&quot; 82,5% жиру</td>
                <td></td>
            </tr>
        
            <tr>
                <td>13.11.2013</td>
                <td>12.11.2014</td>
                <td>ПП &quot;Старобільський завод продовольчих товарів&quot;, Україна, Луганська обл., м.Старобільськ, вул.Лугова, 1. Код ЄДРПОУ 36247843.</td>
                <td>вода питна оброблена &quot;Старобіла слобода&quot; сильногазована та негазована</td>
                <td></td>
            </tr>
        
            <tr>
                <td>01.11.2013</td>
                <td>31.10.2014</td>
                <td>Фізичній особі-підприємцю Макаренку Віктору Олексійовичу, Україна, м.Луганськ, вул.Мєждународна, 8. Свідоцтво ІПН від 01.09.2006 №1639503572.</td>
                <td>сніданки сухі в асортименті згідно з додатком 22 найменування</td>
                <td></td>
            </tr>
        
            <tr>
                <td>01.11.2013</td>
                <td>31.10.2014</td>
                <td>Физическому лицу-предпринимателю Макаренко Виктору Алексеевичу, Украина, г.Луганск, ул.Международная, 8. Свидетельство ИНН от 01.09.2006 №1639503572.</td>
                <td>завтраки сухие в асортименте согласно приложения 22 наименования</td>
                <td></td>
            </tr>
        
            <tr>
                <td>12.04.2013</td>
                <td>29.10.2014</td>
                <td>Дочірнє підприємство  &quot;Украгротрейд&quot;, Україна, 94223, м.Алчевськ, Луганська область, вул.Декабристів, 27а. Код ЄДРПОУ 33284416</td>
                <td>продукти переробки крупи гречаної  ТМ &quot;Файно&quot; в асортименті згідно з додатком 4 найменування</td>
                <td></td>
            </tr>
        
            <tr>
                <td>31.10.2012</td>
                <td>29.10.2014</td>
                <td>Дочірнє підприємство  &quot;Украгротрейд&quot;, Україна, 94223, м.Алчевськ, Луганська область, вул.Декабристів, 27а. Код ЄДРПОУ 33284416</td>
                <td>крупа гречана  &quot;Українська&quot;</td>
                <td></td>
            </tr>
        
            <tr>
                <td>30.10.2013</td>
                <td>29.10.2014</td>
                <td>ТОВ &quot;Март&quot;, Україна, смт.Станично-Луганське, Луганської обл., вул.Шевченка, 64. Код ЄДРПОУ - 30338421.</td>
                <td>вода питна природна &quot;Лісова прохолода&quot; негазована</td>
                <td></td>
            </tr>
        
            <tr>
                <td>25.10.2012</td>
                <td>22.10.2014</td>
                <td>ООО &quot;Чайная компания &quot;Премьер&quot;, г.Москва, пр-т Мира, 45, Російська Федерація.</td>
                <td>Чай ТМ &quot;Hiltop&quot; 29 найменувань, в асортименті згідно з додатком</td>
                <td></td>
            </tr>
        
            <tr>
                <td>25.10.2012</td>
                <td>22.10.2014</td>
                <td>ОАО &quot;Книгоэкспорт&quot;, Московская обл., г.Можайск, ул.Мира, 93, Російська Федерація.</td>
                <td>Чай ТМ &quot;Hiltop&quot; 29 найменувань, в асортименті згідно з додатком</td>
                <td></td>
            </tr>
        
            <tr>
                <td>10.10.2013</td>
                <td>09.10.2014</td>
                <td>ТОВ &quot;Луганська екологічна ініціатива&quot;, Україна, Луганська обл., м.Алчевськ, вул. Московська,4а. Код ЄДРПОУ - 37156553.</td>
                <td>вода питна оброблена негазована &quot;Нікольська&quot;</td>
                <td></td>
            </tr>
        
            <tr>
                <td>05.10.2012</td>
                <td>03.10.2014</td>
                <td>ПРАТ &quot;АВК&quot;, Україна, м.Донецьк, вул.1-А Олександрівка, 9. Код ЄДРПОУ 30482582</td>
                <td>торти -пралінові, глазуровані шоколадною глазур`ю та тістечка -комбіновані, глазуровані шоколадною глазур`ю.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>26.11.2012</td>
                <td>03.10.2014</td>
                <td>ТОВ &quot;Бахус&quot;, Україна, м.Свердловськ, Луганської обл., вул.Красноармійська, 3. Код ЄДРПОУ - 21816088.</td>
                <td>вода питна оброблена &quot;АкваТерра&quot; сильногазована, негазована.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>05.10.2012</td>
                <td>03.10.2014</td>
                <td>ПРАТ &quot;АВК&quot;, Україна, м.Донецьк, вул.1-А Олександрівка, 9. Код ЄДРПОУ 30482582</td>
                <td>печиво вівсяне, здобне неглазуроване, частково або повністю глазуроване, або з іншим зовнішнім оздобленням, з однією або двома начинками, жировою, молочною, фруктовою, шоколадною, желейною, молочно-желейною, фруктово-желейною та без начинки.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>04.10.2012</td>
                <td>01.10.2014</td>
                <td>ПАТ &quot;ЛУГАНСЬК-НИВА&quot;, Україна, м.Луганськ, вул.Лутугінська, 111в. Код ЄДРПОУ 30596644</td>
                <td>крупи, у асортименті згідно з додатком 38 найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>04.10.2012</td>
                <td>01.10.2014</td>
                <td>ПАТ &quot;ЛУГАНСЬК-НИВА&quot;, Україна, м.Луганськ, вул.Лутугінська, 111в. Код ЄДРПОУ - 30596644.</td>
                <td>пластівці зернові та їх суміші</td>
                <td></td>
            </tr>
        
            <tr>
                <td>05.10.2012</td>
                <td>01.10.2014</td>
                <td>ПАТ &quot;ЛУГАНСЬК-НИВА&quot;, Україна, м.Луганськ, вул.Лутугінська, 111в. Код ЄДРПОУ 30596644</td>
                <td>борошно в асортименті згідно з додатком  26 найменувань.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>30.04.2013</td>
                <td>27.09.2014</td>
                <td>ПАТ &quot;ЛУГАНСЬКМЛИН&quot;, Україна, м.Луганськ, вул.Лутугінська, 111. Код  ЄДРПОУ-00952737.</td>
                <td>вироби хлібобулочні в асортименті 6 найменувань згідно з додатком</td>
                <td></td>
            </tr>
        
            <tr>
                <td>10.09.2013</td>
                <td>27.09.2014</td>
                <td>ПАТ &quot;ЛУГАНСЬК-НИВА&quot;, Україна, м.Луганськ, вул.Лутугінська, 111в. Код  ЄДРПОУ-30596644.</td>
                <td>вироби хлібобулочні в асортименті 21 найменування згідно з додатком</td>
                <td></td>
            </tr>
        
            <tr>
                <td>02.10.2012</td>
                <td>27.09.2014</td>
                <td>ПАТ &quot;ЛУГАНСЬКМЛИН&quot;, Україна, м.Луганськ, вул.Лутугінська, 111. Код  ЄДРПОУ-00952737.</td>
                <td>вироби хлібобулочні в асортименті 14 найменувань згідно з додатком</td>
                <td></td>
            </tr>
        
            <tr>
                <td>22.10.2013</td>
                <td>21.09.2014</td>
                <td>ПП &quot;Агромережа&quot;, Україна, м.Горлівка, Донецька обл., вул.Мініна і Пожарського, 1А/2. Код ЄДРПОУ - 36975611.</td>
                <td>Риба морожена: скумбрія</td>
                <td></td>
            </tr>
        
            <tr>
                <td>22.10.2013</td>
                <td>19.09.2014</td>
                <td>ПП &quot;Агромережа&quot;, Україна, м.Горлівка, Донецька обл., вул.Мініна і Пожарського, 1А/2. Код ЄДРПОУ - 36975611.</td>
                <td>Риба морожена: cардина</td>
                <td></td>
            </tr>
        
            <tr>
                <td>30.10.2013</td>
                <td>16.09.2014</td>
                <td>ТДВ &quot;Луганський м`ясокомбінат&quot;, Україна, 91020, м.Луганськ, вул.Лутугінська,119 . Код ЄДРПОУ 05507034.</td>
                <td>ковбаса сирокопчена &quot;Брізоло&quot;  вищого гатунку</td>
                <td></td>
            </tr>
        
            <tr>
                <td>30.10.2013</td>
                <td>16.09.2014</td>
                <td>ТДВ &quot;Луганський м`ясокомбінат&quot;, Україна, 91020, м.Луганськ, вул.Лутугінська, 119. Код ЄДРПОУ 05507034</td>
                <td>продукти з яловичини, свинини та м`яса птиці копчено-варені, копчено-запечені, запечені, сирокопчені та сиров&#39;ялені  в асортименті згідно з додатком 34 найменування</td>
                <td></td>
            </tr>
        
            <tr>
                <td>30.10.2013</td>
                <td>16.09.2014</td>
                <td>ТДВ &quot;Луганський м`ясокомбінат&quot;, Україна, 91020, м.Луганськ, вул.Лутугінська,119 . Код ЄДРПОУ 05507034.</td>
                <td>ковбаси сирокопчені, сиров&#39;ялені, варено-копчені  в асортименті згідно з додатком   29  найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>13.11.2012</td>
                <td>16.09.2014</td>
                <td>ПАТ &quot;Луганський м`ясокомбінат&quot;, Україна, 91020, м.Луганськ, вул.Лутугінська,119 . Код ЄДРПОУ 05507034.</td>
                <td>ковбаса сирокопчена &quot;Брізоло&quot;  вищого гатунку</td>
                <td></td>
            </tr>
        
            <tr>
                <td>08.05.2012</td>
                <td>16.09.2014</td>
                <td>ПАТ &quot;Луганський м`ясокомбінат&quot;, Україна, 91020, м.Луганськ, вул.Лутугінська,119 . Код ЄДРПОУ 05507034.</td>
                <td>ковбаси сирокопчені, сиров&#39;ялені, варено-копчені  в асортименті згідно з додатком   29  найменувань</td>
                <td></td>
            </tr>
        
            <tr>
                <td>08.05.2012</td>
                <td>16.09.2014</td>
                <td>ПАТ &quot;Луганський м`ясокомбінат&quot;, Україна, 91020, м.Луганськ, вул.Лутугінська, 119. Код ЄДРПОУ 05507034</td>
                <td>продукти з яловичини, свинини та м`яса птиці копчено-варені, копчено-запечені, запечені, сирокопчені та сиров&#39;ялені  в асортименті згідно з додатком 34 найменування</td>
                <td></td>
            </tr>
        
            <tr>
                <td>12.09.2013</td>
                <td>11.09.2014</td>
                <td>Приватне підприємство &quot;Санрайз Плюс&quot;,Україна, м.Луганськ, вул.Возрождєнія, 11-П, 307/2. Код ЄДРПОУ- 37705489</td>
                <td>води питні оброблені сильногазовані та негазовані: &quot;Альпійська срібна&quot;, &quot;Водичка срібна&quot;, &quot;Пєтрівська&quot;</td>
                <td></td>
            </tr>
        
            <tr>
                <td>09.10.2013</td>
                <td>09.09.2014</td>
                <td>ПП &quot;Агромережа&quot;, Україна, м.Горлівка, Донецька обл., вул.Мініна і Пожарського, 1А/2. Код ЄДРПОУ - 36975611.</td>
                <td>Риба свіжоморожена: хек тушка</td>
                <td></td>
            </tr>
        
            <tr>
                <td>07.10.2013</td>
                <td>07.09.2014</td>
                <td>ТОВ &quot;Дон-Ест Плюс&quot;, Україна, м.Луганськ, Лєсной тупік , 1В. Код ЄДРПОУ - 30092017.</td>
                <td>Риба свіжоморожена: оселедець</td>
                <td></td>
            </tr>
        
            <tr>
                <td>07.10.2013</td>
                <td>07.09.2014</td>
                <td>ПП &quot;Агромережа&quot;, Україна, м.Горлівка, Донецька обл., вул.Мініна і Пожарського, 1А/2. Код ЄДРПОУ - 36975611.</td>
                <td>Риба свіжоморожена: оселедець цілий</td>
                <td></td>
            </tr>
        
            <tr>
                <td>07.10.2013</td>
                <td>07.09.2014</td>
                <td>ТОВ &quot;Дон-Ест Плюс&quot;, Україна, м.Луганськ, Лєсной тупік , 1В. Код ЄДРПОУ - 30092017.</td>
                <td>Риба свіжоморожена: оселедець</td>
                <td></td>
            </tr>
        
            <tr>
                <td>02.10.2013</td>
                <td>02.09.2014</td>
                <td>ПП &quot;Агромережа&quot;, Україна, м.Горлівка, Донецька обл., вул.Мініна і Пожарського, 1А/2. Код ЄДРПОУ - 36975611.</td>
                <td>Риба свіжоморожена: хек тушка</td>
                <td></td>
            </tr>
        
            <tr>
                <td>30.09.2013</td>
                <td>30.08.2014</td>
                <td>ТОВ &quot;БАД-АЛТАЙ&quot;, Україна, м.Донецьк, пр.Ілліча, 91. Код ЄДРПОУ - 32011411.</td>
                <td>дієтична добавка до раціону харчування &quot;Ламинария&quot; (БАД)</td>
                <td></td>
            </tr>
        
            <tr>
                <td>30.08.2013</td>
                <td>29.08.2014</td>
                <td>ТОВ &quot;Мідас&quot;, Україна, м.Алчевськ, Луганської обл., пр.Металургів, 49. Код ЄДРПОУ-24193883.</td>
                <td>вода питна оброблена негазована &quot;Золота Роса&quot;</td>
                <td></td>
            </tr>
        
            <tr>
                <td>29.08.2013</td>
                <td>28.08.2014</td>
                <td>ТОВ &quot;Слобожанський завод продтоварів&quot;, Україна, м.Сватове, Луганської обл., вул.40 лєт ВЛКСМ, 2 . Код ЄДРПОУ - 32175037.</td>
                <td>олія соняшникова: рафінована дезодорована виморожена марки &quot;П&quot; (одержана із пресової), нерафінованав виморожена (пресова) першого гатунку</td>
                <td></td>
            </tr>
        
            <tr>
                <td>16.09.2013</td>
                <td>15.08.2014</td>
                <td>ПП &quot;Агромережа&quot;, Україна, м.Горлівка, Донецька обл., вул.Мініна і Пожарського, 1А/2. Код ЄДРПОУ - 36975611.</td>
                <td>Риба свіжоморожена: хек тушка</td>
                <td></td>
            </tr>
        
            <tr>
                <td>16.09.2013</td>
                <td>15.08.2014</td>
                <td>ПП &quot;Агромережа&quot;, Україна, м.Горлівка, Донецька обл., вул.Мініна і Пожарського, 1А/2. Код ЄДРПОУ - 36975611.</td>
                <td>Риба свіжоморожена: оселедець</td>
                <td></td>
            </tr>
        
            <tr>
                <td>08.08.2013</td>
                <td>07.08.2014</td>
                <td>ЧАО &quot;АВК&quot;, Украина, г.Донецк, ул.1-я Александровка, 9. Код ЕГРПОУ - 30482582.</td>
                <td>Наборы кондитерских изделий ЧАО &quot;АВК&quot;; Сувенирные наборы кондитерских изделий ЧАО &quot;АВК&quot; в ассортименте 30 наименований согласно приложения.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>08.08.2013</td>
                <td>07.08.2014</td>
                <td>ПРАТ &quot;АВК&quot;, Україна, м.Донецьк, вул.1-а Олександрівка, 9. Код ЄДРПОУ - 30482582.</td>
                <td>Набори кондитерських виробів ПРАТ &quot;АВК&quot;; Сувенірні набори кондитерських виробів ПРАТ &quot;АВК&quot; в асортименті 30 найменувань згідно з додатком.</td>
                <td></td>
            </tr>
        
            <tr>
                <td>02.09.2013</td>
                <td>01.08.2014</td>
                <td>ТОВ &quot;БАД-АЛТАЙ&quot;, Україна, м.Донецьк, пр.Ілліча, 91. Код ЄДРПОУ - 32011411.</td>
                <td>дієтична добавка до раціону харчування &quot;Ламинария&quot; (БАД)</td>
                <td></td>
            </tr>
        
            <tr>
                <td>02.08.2013</td>
                <td>01.08.2014</td>
                <td>ТОВ &quot;КРИСТАЛ АЙС&quot;, Україна, м.Красний Луч, Луганської обл., вул.Кислородна, 2. Код ЄДРПОУ - 36735638.</td>
                <td>вода питна оброблена негазована &quot;Тала вода&quot;</td>
                <td></td>
            </tr>
        
            <tr>
                <td>02.08.2013</td>
                <td>01.08.2014</td>
                <td>ТОВ &quot;Слобожанський завод продтоварів&quot;, Україна, м.Сватове, Луганської обл., вул.40 лєт ВЛКСМ, 2. Код ЄДРПОУ - 32175037.</td>
                <td>олія кукурудзяна рафінована  дезодорована марки &quot;П&quot;</td>
                <td></td>
            </tr>
        
            <tr>
                <td>30.07.2013</td>
                <td>29.07.2014</td>
                <td>Фермерському господарству &quot;Брати Єлісєєви&quot;, Україна, Луганська обл., м.Свердловськ, с.Астахове, вул.Первомайська, 4. Код ЄДРПОУ-24186825.</td>
                <td>насіння соняшника та насіння соняшника смажене</td>
                <td></td>
            </tr>
        
            <tr>
                <td>27.08.2013</td>
                <td>26.07.2014</td>
                <td>ПП &quot;Агромережа&quot;, Україна, м.Горлівка, Донецька обл., вул.Мініна і Пожарського, 1А/2. Код ЄДРПОУ - 36975611.</td>
                <td>Риба свіжоморожена: нототенія тушка</td>
                <td></td>
            </tr>
        
        </tbody>
    </table>
</div>
