<ul class="nav">
    {% for element in obj.elements %}
        {% if element.child_chapters.exists %}
            <li class="dropdown{% if current_menu_section == element.slug %} active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ element.short_title }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ element.get_absolute_url }}"><strong>{{ element.short_title }}</strong></a></li>
                    <li class="divider"></li>
                    {% for sub_element in element.child_chapters %}
                        <li><a href="{{ sub_element.get_absolute_url }}">{{ sub_element.short_title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li{% if element == current_chapter %} class="active"{% endif %}>
                <a href="{{ element.get_absolute_url }}">{{ element.short_title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
