{% with obj.elements as elements %}
    {% if obj.show_if_empty or obj.elements %}
        <li class="nav-header">{{ obj.title }}</li>
            {% for element in elements %}
                <li{% if element.slug and current_menu_section == element.slug %} class="active"{% endif %}><a href="{{ element.get_absolute_url }}">» {{ element }}</a></li>
            {% empty %}
                <li>Нет элементов</li>
            {% endfor %}
        <li class="divider"></li>
    {% endif %}
{% endwith %}
