{% load filters_tags %}

<ul class="well nav nav-list">
    {% with current_chapter.child_chapters as child_chapters %}
        {% if child_chapters %}
            <li class="nav-header">{{ current_chapter.short_title }}</li>
                {% for subchapter in child_chapters %}
                    <li><a href="{{ subchapter.get_absolute_url }}">» {{ subchapter.short_title }}</a></li>
                {% endfor %}
            <li class="divider"></li>
        {% else %}
            {% if current_chapter.ancestor %}
                {% with current_chapter.ancestor.child_chapters as child_chapters %}
                    {% if child_chapters %}
                        <li class="nav-header">{{ current_chapter.ancestor.short_title }}</li>
                            {% for subchapter in child_chapters %}
                                <li{% if subchapter == current_chapter %} class="active"{% endif %}><a href="{{ subchapter.get_absolute_url }}">» {{ subchapter.short_title }}</a></li>
                            {% endfor %}
                        <li class="divider"></li>
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endif %}
    {% endwith %}
    
    {% render_filters group__name="sidebar_chapters" %}
</ul>
