<!-- with object.collect_attachments as attachments -->
    {% if attachments %}
        <div><br /><strong>Файлы для загрузки:</strong><br /><br /></div>
        <ul>
            {% for attachment in attachments %}
                <li><a href="{{ attachment.href }}">{{ attachment.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
<!--endwith -->
