<div class="news-entry">
    <h3 class="news-heading">
        {% ifequal mode 'short' %}
            {% if object.show_title %}
                {{ object.short_title }}
            {% endif %}
        {% else %}
            {{ object.get_title }}
        {% endifequal %}
    </h3>
    {% ifequal mode 'short' %}
        {{ object.get_body_html|safe }}
        {% if object.always_show_attachments %}
            {% include 'entries/attachments.html' with object=object %}
        {% endif %}
        {% if object.show_controls %}
            <div>
                <div class="pull-right">{{ object.published|date:'d.m.Y' }}</div>
                <a class="verbose-link" href="{{ object.get_absolute_url }}">Читати далі</a>
            </div>
        {% endif %}
    {% else %}
        <div><br />Дата публикации: <strong>{{ object.published|date:'d.m.Y' }}</strong><br /><br /></div>
        {{ object.full_body_html|safe }}
        {% include 'entries/attachments.html' with object=object %}
    {% endifequal %}
</div>
